body{
	content:'';
	position:;
	width: 100vw;
	height: 100vh;
	background-image: url(hp6.jpg);
	background-position: center center;
	background-repeat:no-repeat;
	background-attachment: fixed;
	-webkit-background-size:cover;
	background-size:cover;
}

.container
{
	margin-top: 60px;
	color: #000000;
	text-transform: uppercase;
	transition: all 4s ease-in-out;
	
}
.boxdiv
{
	height: 80px;
	width: 40%;
	
}
}
.form-group
{
	height: 80px;
	width: 40%;
	
}

